html, body {
    position:fixed;
}
.textBlock {
    height: 35%;
    margin-left: 5%;
    margin-bottom: 5%;
    width: 90%;
    position: absolute;
    bottom: 0;
    background-color: rgba(255,255,255,0.75);
    z-index: 1;
}
.bg {
    background-image: url(../src/content/backgrounds/1.jpeg);   
    background-size: cover;
    width: 1080px;
    height: 675px;
    top: 0;
    position: static;
}

input[type="button"]{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

object {
    display: none;
}

.textBlock {
    cursor: pointer;
}

.container {
    position: absolute;
}

.sprite {
    align-self: center;
    width: 460px;
    height: 560px;
    position: absolute;
    z-index: 0;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}