#backgroundBlock {
    min-height: 100vh;
    min-width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
}

.sprite {
    position: absolute;
    height: 90%;
    bottom: 0;
}

.sprite.left {
    left: 10%
}

.sprite.right {
    right: 10%
}

.sprite.center {
    left: 0;
    right: 0;
    margin: 0 auto;
}

#textBlock {
    background: #d3d3d3d4;
    margin: 24px;
    padding: 24px;
    border-radius: 24px;
    position: absolute;
    bottom: 0;
    width: calc(100% - 48px);
    height: 30%;
    cursor: pointer;
}

#charName {
    display: inline-block;
    position: absolute;
    top: -12px;
    left: 24px;
    background: gray;
    color: white;
    padding: 8px;
    border-radius: 8px;
    line-height: 16px;
}
